.rshb-radio-group {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--space-margins-inside-m);
  width: fit-content;
  max-width: 100%;
}

.rshb-radio-group[data-direction='vertical'] {
  flex-direction: column;
}

.rshb-radio-group[data-direction='vertical'] .rshb-radio-group__item {
  width: 100%;
}
