@import '../segment/styles.css';

.rshb-legacy-segmented-control {
  display: inline-flex;
  align-items: center;
  gap: var(--space-margins-inside-m);
  width: fit-content;
  max-width: 100%;
  flex-wrap: wrap;
}
