@import '../input-text/styles.css';
@import '../switch/styles.css';

.rshb-legacy-input-middle-name {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-margins-inside-xs);
  width: 361px;
  max-width: 100%;
}

.rshb-legacy-input-middle-name > .rshb-legacy-input-text {
  width: 100%;
}

.rshb-legacy-input-middle-name__switch {
  align-self: flex-start;
}
